<ion-content>
  <div class="main">
    <ion-segment [(ngModel)]="tabPart">
      <ion-segment-button value="medical">
        <ion-label>Medical</ion-label>
      </ion-segment-button>
      <ion-segment-button value="grocery">
        <ion-label>Grocery</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="tabPart" class="tabBody">
      <div class="searchBar">
        <ion-searchbar mode='ios' placeholder="Search by text" [(ngModel)]="searchTerm" (ionChange)="filterJSONData()" (ionClear)="getFullData()"> </ion-searchbar>
        <!-- <ion-icon src="assets/awesome-filter.svg"></ion-icon> -->
      </div>

      <div *ngSwitchCase="'medical'">

        <ion-item button lines="none" *ngFor="let item of medicalstorelist">
          <ion-avatar slot="start">
            <img src="../../../assets/mediacal.png">
          </ion-avatar>
          <ion-label>
            <h4>{{item.shop_name}}</h4>
            <p>
              <ion-icon src="assets/material-location-on.svg"></ion-icon> {{item.shop_locality}}
            </p>
            <p>
              <ion-icon src="assets/time.svg"></ion-icon> {{item.shop_timings}}
            </p>
          </ion-label>
          <ion-button slot="end"  (click)="onchat(time)">Chat</ion-button>
        </ion-item>
      </div>


      <div *ngSwitchCase="'grocery'">
        <ion-item button lines="none" *ngFor="let item of grocerystorelist">
          <ion-avatar slot="start">
            <img src="../../../assets/mediacal.png">
          </ion-avatar>
          <ion-label>
            <h4>{{item.shop_name}}</h4>
            <p>
              <ion-icon src="assets/material-location-on.svg"></ion-icon> {{item.shop_locality}}
            </p>
            <p>
              <ion-icon src="assets/time.svg"></ion-icon> {{item.shop_timings}}
            </p>
          </ion-label>
          <ion-button slot="end"  (click)="onchat(item)">Chat</ion-button>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>
