<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span>F</span> Farhan Patel
    </ion-title>
    <ion-icon slot="end" name="ellipsis-vertical"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>NOVEMBER 28, 2019</p>

  <div class="cf">
    <div class="chat_body left" *ngFor="let shopers of shopersMessagesArray">
      <p>{{shopers.Message}}</p>
      <span>10:47 AM</span>
    </div>
    <div class="chat_body right" *ngFor="let users of usersMessagesArray">
      <p>{{users.Message}}</p>
      <span>10:47 AM <img src="../../../assets/right_icon.svg" alt=""></span>
    </div>
    <div class="clear"></div>
  </div>
</ion-content>
<ion-footer>
  <div class="input">
    <ion-input placeholder="Type a message" [(ngModel)]="message"></ion-input>
    <ion-icon src="assets/camera.svg"></ion-icon>
  </div>
  <ion-icon (click)="send()" src="../../../assets/mike.svg"></ion-icon>
</ion-footer>
