


 <ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title><img src="../../../assets/helpLineIcon.svg" alt=""> Helpline</ion-title>
      <div slot="end">
        <ion-icon src="assets/material-notifications.svg"></ion-icon>
      </div>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-card>
    <div>
      <ion-searchbar color="danger"></ion-searchbar>
    </div>
 <ion-title color="" >Purpose: corona help lines</ion-title>
  </ion-card>

  <div id="container">
    <ion-item>
      <ion-label>Default Label</ion-label>
      <ion-input>   123458456     .........
               <ion-icon name="call-outline"></ion-icon>
      </ion-input>

    </ion-item>

    <ion-item>
      <ion-label>Default Label</ion-label>
      <ion-input>   123458456     ........
               <ion-icon name="call-outline"></ion-icon>
      </ion-input>

    </ion-item>

    <ion-item>
      <ion-label position="fixed">help lin no :- </ion-label>
      <ion-input>
        
      </ion-input>
      <ion-icon name="call-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">help lin no :- </ion-label>
      <ion-input>
        
      </ion-input>
      <ion-icon name="call-outline"></ion-icon>
    </ion-item>
    
  </div> -->

  <div class="main">
    <h4>Helpline Number for Coronavirus</h4>

    <div class="helpLine">
      <ion-item lines="none">
        <ion-label>
          <h4>Central Helpline</h4>
          <p>+91-11-23978046 </p>
        </ion-label>
        <ion-icon slot="end" src="assets/callIcon.svg"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h4>Central Helpline</h4>
          <p>+91-11-23978046 </p>
        </ion-label>
        <ion-icon slot="end" src="assets/callIcon.svg"></ion-icon>
      </ion-item>
    </div>

    <div class="donate">
      <ion-item button lines="none">
        <ion-avatar slot="start">
          <img src="../../../assets/donate.svg">
        </ion-avatar>
        <ion-label>
          <h4>Donation</h4>
          <p>PM fund <a href="">Click here ></a></p>
        </ion-label>
      </ion-item>
    </div>
  </div>


</ion-content>
