<ion-content color="primary" >
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
        <ion-title color="secondary">HELP LINE NUMBER
          <h2>{{'HELP LINE NUMBER' |translate }}</h2>
        </ion-title>
       <div>
        <ion-icon name="notifications-outline"></ion-icon>
       </div>
    </ion-toolbar>
  </ion-header>
  
  <ion-card>
    <div>
      <ion-searchbar color="danger"></ion-searchbar>
    </div>
 <ion-title color="" >{{'Purpose: corona help lines'|translate}}</ion-title>
  </ion-card>

  <div id="container">
    <ion-item>
      <ion-label>{{'Default Label'|translate}</ion-label>
      <ion-input>   123458456     .........
               <ion-icon name="call-outline"></ion-icon>
      </ion-input>

    </ion-item>

    <ion-item>
      <ion-label>{{'Default Label1'|translate}}</ion-label>
      <ion-input>   123458457     ........
               <ion-icon name="call-outline"></ion-icon>
      </ion-input>

    </ion-item>

    <ion-item>
      <ion-label position="fixed">{{'help line no :-'|translate}} </ion-label>
      <ion-input>
        
      </ion-input>
      <ion-icon name="call-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">{{'help lin no :-'|translate}} </ion-label>
      <ion-input>
        
      </ion-input>
      <ion-icon name="call-outline"></ion-icon>
    </ion-item>
    
  </div>
</ion-content>


 

<ion-footer>
  <ion-toolbar>
    <ion-title color="primary">Footer</ion-title>
  </ion-toolbar>
  <ion-icon name="home-outline"></ion-icon>
</ion-footer>

