<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div >
    <ion-list *ngFor="let notification of notifications">
      <ion-label>
        <p>{{ notification.title }}</p>
        <p>{{ notification.timestamp }}</p>
      </ion-label>
    </ion-list>
  </div>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon src="assets/location.svg"></ion-icon> {{'Notifications'|translate}}
    </ion-title>
    <ion-icon slot="end" src="assets/search.svg"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <ion-item *ngFor="let notif of notifications" button lines="none">
      <ion-avatar slot="start">
        {{notif.sender.charAt(0)}}
      </ion-avatar>
      <ion-label>
        <h4>{{notif.sender}}</h4>
        <p>
          {{'notif.message'|translate}}
        </p>
      </ion-label>
      <div class="date_section msg_comming" slot="">
        <p>{{notif.time}}</p>
        <span>3</span>
      </div>
    </ion-item>

    <ion-item button lines="none">
      <ion-avatar slot="start">
        
      </ion-avatar>
      <ion-label>
        <h4>Farhan Patel</h4>
        <p>
         {{ "Please don't say that..."|translate}}
        </p>
      </ion-label>
      <div class="date_section" slot="">
        <p>{{ 'Yesterday'|translate}}</p>
      </div>
    </ion-item>
  </div>
</ion-content>
