

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon src="assets/location.svg"></ion-icon> {{'Notifications'|translate}}
    </ion-title>
    <!-- <ion-icon slot="end" src="assets/search.svg"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main" *ngIf="notifications.length>0" >

    <ion-item *ngFor="let messege of notifications" button lines="none" (click)="goToChat(messege)">
          <ion-avatar slot="start">
      <span *ngIf="messege[messege.length-1] && messege[messege.length-1].fromName">
        {{messege[messege.length-1].fromName.charAt(0).toUpperCase()}} 
      </span> 
      </ion-avatar>
      <ion-label>
         <h4>{{messege[messege.length-1].fromName}}</h4> 
        <p>
          {{messege[messege.length-1].Message}}
        </p>
      </ion-label>
      <div class="date_section msg_comming" slot="">
        <span style="margin-bottom: 5px">{{messege.length}}</span>
        <p> {{ TimeAgo(messege[messege.length-1].timestamp)}}</p>
      </div>
    </ion-item>

  </div>
<div style="display: flex; align-content: center;justify-content: center; padding-top: 20px;font-size:20px">
  <p   *ngIf="notifications && notifications.length==0">No notifications yet!</p>

</div>
</ion-content>
