<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" >
    <form [formGroup]="signupForm">
    <ion-item>
      <ion-input placeholder="Email Id" formControlName="emailAddress"></ion-input>
    </ion-item>
    <div *ngFor="let validation of validation_messages.emailAddress">
      <p *ngIf="signupForm.get('emailAddress').hasError(validation.type) && (signupForm.get('emailAddress').dirty || signupForm.get('emailAddress').touched)">
        {{validation.message}}
      </p>
    </div>
    <ion-item>
      <ion-input placeholder="Full Name" formControlName="name"></ion-input>
    </ion-item>
    <div *ngFor="let validation of validation_messages.name">
      <p *ngIf="signupForm.get('name').hasError(validation.type) && (signupForm.get('name').dirty || signupForm.get('name').touched)">
        {{validation.message}}
      </p>
    </div>
    <ion-item>
      <ion-input placeholder="Locality" formControlName="locality"></ion-input>
    </ion-item>
    <div *ngFor="let validation of validation_messages.locality">
      <p *ngIf="signupForm.get('locality').hasError(validation.type) && (signupForm.get('locality').dirty || signupForm.get('locality').touched)">
        {{validation.message}}
      </p>
    </div>
  </form>
  <ion-list lines="none">
    <ion-radio-group>
      <ion-item *ngFor="let checkbox of checkboxData; let i = index" class="ListItem" (click)="selectedCheckbox=i">
        <ion-label>{{checkbox}}</ion-label>
        <ion-radio slot="start"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list> -->
    <!-- <ion-list>
      <ion-item lines="none" *ngFor="let checkbox of checkboxData">
        <ion-checkbox [(ngModel)]="checkbox.selected" (click)="checkboxClick(checkbox)"></ion-checkbox>
        <ion-label>{{checkbox.name}}</ion-label>
      </ion-item> -->
      <!-- <ion-item lines="none"> 
        <ion-checkbox [(ngModel)]="checkbox1"></ion-checkbox>
        <ion-label> Are you a Grocery Owner</ion-label>
      </ion-item> 
      <ion-item lines="none">
        <ion-checkbox [(ngModel)]="checkbox1"> </ion-checkbox>
        <ion-label> None of the above</ion-label>
      </ion-item> -->
    <!-- </ion-list> -->
   <!-- <ion-button (click)="onSubmit()">Continue</ion-button> -->
  <!-- </form> -->
  <!-- </div>

  <section class="bottomPopup popup_section" *ngIf="bottomPopup"> 
    <div class="overly"></div>
    <div class="inner_wrap">
      <form [formGroup]="shopForm">

        <ion-item>
          <ion-input placeholder="Shop Name" formControlName="shopName"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.shopName">
      <p *ngIf="shopForm.get('shopName').hasError(validation.type) && (shopForm.get('shopName').dirty || shopForm.get('shopName').touched)">
        {{validation.message}}
      </p>
    </div>
        <ion-item>
          <ion-label>
            <ion-datetime displayFormat="hh:mm A" placeholder="From"  ></ion-datetime>
          </ion-label>
          
        </ion-item>
        <ion-item>
          <ion-label>
          <ion-datetime displayFormat="hh:mm A" placeholder="To" ></ion-datetime>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Shop locality"  formControlName="shopLocality"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.shopLocality">
      <p *ngIf="shopForm.get('shopLocality').hasError(validation.type) && (shopForm.get('shopLocality').dirty || shopForm.get('shopLocality').touched)">
        {{validation.message}}
      </p>
    </div>
        <ion-item>
          <ion-textarea placeholder="Shop Address" formControlName="shopAddress"></ion-textarea>
        </ion-item>
        <div *ngFor="let validation of validation_messages.shopAddress">
      <p *ngIf="shopForm.get('shopAddress').hasError(validation.type) && (shopForm.get('shopAddress').dirty || shopFormx.get('shopAddress').touched)">
        {{validation.message}}
      </p>
    </div>
        <ion-item>
          <ion-input placeholder="Shop Coordinates"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.name">
      <p *ngIf="signupForm.get('name').hasError(validation.type) && (signupForm.get('name').dirty || signupForm.get('name').touched)">
        {{validation.message}}
      </p>
    </div>
        <ion-button>Submit</ion-button>
      </form>

    </div>
  </section>
</ion-content> -->


<!-- SHIVANG CODE -->
<ion-content>
    <div *ngIf="!shopDetails">
  <img class="home-logo" src="../../../assets/logo-home.svg">
    <h5>Who we are</h5>
    <ion-row>
      <ion-col size="3" class="active" (click)="selectType('others')" [class.active]="others">
        <div class="img_section">
          <img src="../../../assets/other_ppl.svg" alt="">
        </div>
        <p>Others</p>
      </ion-col>
      <ion-col size="3" (click)="selectType('medical')" [class.active]="medical">
        <div class="img_section">
          <img src="../../../assets/medical.svg" alt="">
        </div>
        <p>Medical</p>
      </ion-col>
      <ion-col size="3" (click)="selectType('grocery')" [class.active]="grocery">
        <div class="img_section">
          <img src="../../../assets/grossery.svg" alt="">
        </div>
        <p>Grocery </p>
      </ion-col>
    </ion-row>

  <form [formGroup]="signupForm">
  
    <div class="ion-padding">
      <ion-item class="email-box" lines="none">
        <ion-icon src="../../../assets/mail-logo.svg" color="dark"></ion-icon>
        <ion-input   placeholder="Enter your email address" formControlName="emailAddress"></ion-input>
      </ion-item>
      <div *ngFor="let validation of validation_messages.emailAddress">
          <p *ngIf="signupForm.get('emailAddress').hasError(validation.type) && (signupForm.get('emailAddress').dirty || signupForm.get('emailAddress').touched)">
            {{validation.message}}
          </p>
        </div>
      <ion-item class="email-box" lines="none">
        <ion-icon src="../../../assets/user.svg" color="dark"></ion-icon>
        <ion-input  placeholder="Full Name" formControlName="name"></ion-input>
      </ion-item>
      <div *ngFor="let validation of validation_messages.name">
          <p *ngIf="signupForm.get('name').hasError(validation.type) && (signupForm.get('name').dirty || signupForm.get('name').touched)">
            {{validation.message}}
          </p>
        </div>
      <ion-item class="email-box" lines="none">
        <ion-icon src="../../../assets/location.svg" color="dark"></ion-icon>
        <ion-input placeholder="Location" formControlName="locality"></ion-input>
        <ion-icon src="../../../assets/my-location.svg" color="dark"></ion-icon>
      </ion-item>
      <div *ngFor="let validation of validation_messages.locality">
          <p *ngIf="signupForm.get('locality').hasError(validation.type) && (signupForm.get('locality').dirty || signupForm.get('locality').touched)">
            {{validation.message}}
          </p>
        </div>
  
      <ion-button (click)="signUp()" expand="block">Sign Up
        <ion-ripple-effect></ion-ripple-effect>
      </ion-button>
  
      <div class="already_sectin">
        <a href="">Already use Asana? <span>Log In</span></a>
      </div>
    </div>
  </form>
  </div>
  <div *ngIf="shopDetails">
  <form  [formGroup]="shopForm">

    <ion-item>
      <ion-input placeholder="Shop Name" formControlName="shopName"></ion-input>
    </ion-item>
    <div *ngFor="let validation of validation_messages.shopName">
  <p *ngIf="shopForm.get('shopName').hasError(validation.type) && (shopForm.get('shopName').dirty || shopForm.get('shopName').touched)">
    {{validation.message}}
  </p>
</div>
    <ion-item>
      <ion-input placeholder="Shop locality"  formControlName="shopLocality"></ion-input>
    </ion-item>
    <div *ngFor="let validation of validation_messages.shopLocality">
  <p *ngIf="shopForm.get('shopLocality').hasError(validation.type) && (shopForm.get('shopLocality').dirty || shopForm.get('shopLocality').touched)">
    {{validation.message}}
  </p>
</div>
    <ion-item>
      <ion-textarea placeholder="Shop Address" formControlName="shopAddress"></ion-textarea>
    </ion-item>
    <div *ngFor="let validation of validation_messages.shopAddress">
  <p *ngIf="shopForm.get('shopAddress').hasError(validation.type) && (shopForm.get('shopAddress').dirty || shopForm.get('shopAddress').touched)">
    {{validation.message}}
  </p>
</div>
    <ion-item>
      <ion-input placeholder="Shop Coordinates" formControlName="shopCoordinates"></ion-input>
    </ion-item>
    <div *ngFor="let validation of validation_messages.name">
  <p *ngIf="signupForm.get('name').hasError(validation.type) && (signupForm.get('name').dirty || signupForm.get('name').touched)">
    {{validation.message}}
  </p>
</div>
   
  </form>
  <ion-item>
      <ion-label>
        <ion-datetime [(ngModel)]="fromTime" displayFormat="hh:mm A" placeholder="From"  ></ion-datetime>
      </ion-label>
      
    </ion-item>
    <ion-item>
      <ion-label>
      <ion-datetime [(ngModel)]="toTime" displayFormat="hh:mm A" placeholder="To" ></ion-datetime>
      </ion-label>
    </ion-item>
  
    <ion-button (click)="shopDetailsSubmit()">Submit</ion-button>
  </div>
  </ion-content>
  
