ion-header {
    [slot="end"] {
        padding: 6px 15px 0;

        ion-icon {
            font-size: 23px;
        }
    }

    ion-title {
        font-size: 18px;
        font-weight: bold;
        color: #3C3C59;
        text-align: left;

        img {
            vertical-align: middle;
            margin-top: -3px;
            margin-right: 3px;
        }

        ion-icon {
            vertical-align: middle;
            margin-top: -2px;
        }
    }
}

.header-md::after {
    display: none;
}

.main {
    padding: 16px;

    h4 {
        font-weight: bold;
        font-size: 16px;
        color: #4e4de6;
        margin: 0 20 0 0 15px;
    }

    .blogList {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .blog {
            width: 48%;
            height: 112px;
            border-radius: 5px;
            background: #fff;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 15px;

            &.active {
                background: #E9E9E9;
            }

            img {
                margin-bottom: 8px;
            }

            p {
                font-weight: bold;
                font-size: 15px;
                text-align: center;
                color: #504de4;
                margin: 0;
            }
        }
    }

    .list {
        ion-item {
            border-radius: 5px;
            background: #fff;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
            padding: 7px 0px;
            margin-bottom: 10px;

            h3 {
                font-weight: bold;
                font-size: 16px;
                text-align: left;
                color: #3c3c59;
                margin: 0 0 5px;
            }

            ion-avatar {
                width: 50px;
                height: 50px;
            }

            ion-icon {
                font-size: 18px;
            }

            .ellipsis {
                position: absolute;
                right: 6px;
                top: 0;
                color: #504de4;
            }
        }
    }
}