ion-item {
    --padding-start: 0;
    --border-color: #AAAAAA;
    --background: none;
    --ion-safe-area-right: 0;
    --inner-border-width: 0;
    --border-width: 0;

    ion-textarea {
        color: #080808;
        font-size: 13px;
        padding-left: 9px;
        height: 84px;
        border: 1px solid #AAAAAA;
    }
}

.popup {
    padding: 7px;
    width: 93%;
    min-height: 300px;
    background: #ffffff;
    border: 1px solid #F8F8F8;

    .inner_padding {
        padding-left: 13px;
        padding-right: 13px;
    }

    h1 {
        font-size: 15px;
        color: #0D0D0E;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 46px;
        padding-left: 13px;
        border-bottom: 1px solid var(--ion-color-primary);

        a {
            float: right;
            position: relative;
            top: 0px;
            right: 10px;

            img {
                width: 12px;
            }
        }
    }

    h3 {

        margin-top: 16px;
        color: #616161;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;

        img {
            margin-right: 10px;
            vertical-align: middle;
        }
    }

    p {
        text-align: center;
        margin-top: 25px;
        font-size: 14px;
        color: #ffffff;
    }

    .center {
        padding-top: 20px;
        text-align: center;

        a {
            display: inline-block;
            vertical-align: top;
            background: var(--ion-color-primary) !important;
            line-height: 37px;
            width: 135px;
            color: black;
            text-decoration: none;
            text-align: center;
            position: relative;
            padding-right: 33px;

            &:first-child {
                margin-right: 20px;
            }

            &:before {
                position: absolute;
                transition: 0.4s ease all;
                content: '>';
                font-size: 14px;
                right: 11px;
                top: -2px;
                color: #fff;
            }

            &:after {
                position: absolute;
                transition: 0.4s ease all;
                content: '';
                width: 1px;
                height: 28px;
                right: 30px;
                top: 5px;
                background: #fff;
            }

            &:hover {
                color: #ffffff;

                &:after {
                    background: #ffffff;
                }

                &:before {
                    color: #ffffff;
                }
            }
        }
    }

}