<!-- <ion-content>
  <div *ngIf="role=='medical'">
    <ion-list *ngFor="let message of messages">
      <ion-label>
        <p>{{ message.Message }}</p>
        <p>{{ message.timestamp }}</p>
      </ion-label>
    </ion-list>
  </div>

  <ion-button [routerLink]="['/helpline']" >Helpline</ion-button>
  <ion-button [routerLink]="['/help']" >Help Section</ion-button>

</ion-content> -->

<ion-content>
  <div class="main">
    <div class="banner">
      <img src="../../../assets/banner.svg" alt="">
    </div>

    <!-- <div class="dailyTask">
      <h4>Daily Task</h4>
      <div class="current">
        <h5>Current Quest</h5>
        <div class="progress">
          <span></span>
        </div>
      </div>
    </div> -->

    <div *ngIf="isShopkeeper" class="newMessage">
      <div class="title">
        <h4>New Messages</h4>
        <a href="javascript:void(0)">See all</a>
      </div>
      <div class="msgBody">
        <ion-item button lines="full">
          <ion-avatar slot="start">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
          </ion-avatar>
          <ion-label>
            <h4>Vikas Sharma</h4>
            <p>Lorem ipsum dolor sit amet, consetetur
              elitr, sed diamt</p>
          </ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item button lines="full">
          <ion-avatar slot="start">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
          </ion-avatar>
          <ion-label>
            <h4>Vikas Sharma</h4>
            <p>Lorem ipsum dolor sit amet, consetetur
              elitr, sed diamt</p>
          </ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </div>
    </div>

    <div class="blogList">
      <div class="blog" [class.active]="req.show" *ngFor="let req of helpRequestArray; let i=index;" (click)="selectReq(req,i)">
        <img src="../../../assets/{{req.imgUrl}}" alt="">
        <p>{{req.name}}</p>
      </div>
    </div>
  </div>





  <!-- <div *ngIf="role=='medical'">
    <ion-list *ngFor="let message of messages">
      <ion-label>
        <p>{{ message.Message }}</p>
        <p>{{ message.timestamp }}</p>
      </ion-label>
    </ion-list>
  </div> -->

  <!-- <ion-button [routerLink]="['/helpline']">Helpline</ion-button> -->
</ion-content>
