

<ion-header  class="header">
  <ion-toolbar  padding color="todoprimay">
    <ion-title  padding margin style="text-align:center;font-size:20px;" >Select Language</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content    mode="ios">
    <ion-item button  lines="none" style="--background: #E4ECFD;color: #6C7A92" *ngFor="let language of languages"  [routerLink]="['/tabs']">
        <ion-label style="padding:1.78vh; " >{{language}}        </ion-label>

        <ion-icon solt="end"  style="color:#5EC4BA;font-weight: bolder;"name="checkmark"></ion-icon>
        &nbsp;        &nbsp;
      </ion-item>
   
</ion-content>
 
