ion-content {
    --background: #E4ECFD ;
    --color: #727991;
    text-align: center
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 420px;
    
    #otp{
        ion-input{
        max-width: 20%;
        margin-right: 4%;
        border-bottom:1px solid rgb(175, 170, 170);
        text-align: center;
        }
    }
}