<ion-content>
  <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button fill="clear" (click)="_location.back()">
               <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
         </ion-buttons>


      <ion-title class="ion-text-center">
          {{'My Posts'|translate}}
        <!-- <img src="../../../assets/post.svg" alt="">  -->
       
      </ion-title>
      <!-- <div slot="end">
        <ion-icon src="assets/material-notifications.svg"></ion-icon>
      </div> -->
    </ion-toolbar>
  </ion-header>

  <div class="main" *ngIf="postsArray && postsArray.length>0">
     <ion-item *ngFor="let post of postsArray"  class="animate__animated animate__fadeInLeft"  lines="none">
      <div slot="start">
        <ion-avatar>
          <img src="../../../assets/{{getImagePath(post)}}">
        </ion-avatar>
      </div>
      <ion-label>
        <h3>{{post.help_for|translate}}</h3>
        <p>{{post.help_info}}</p>
        <div class="btn_group">
          <ion-button (click)="resolve(post)">
              {{'Resolve'|translate}}
          </ion-button>
          <ion-button (click)="callDelete(post)">
              {{'Delete'|translate}}
            </ion-button>
        </div>
      </ion-label>
    </ion-item> 

  </div>

 <div *ngIf="!postsArray || (postsArray &&postsArray.length==0)"  class="no_post animate__animated animate__fadeInLeft" >
    <!-- <img src="../../../assets/no_post.svg" alt=""> -->
    <p>
        {{'No Post Yet'|translate}}

      </p>
  </div> 
</ion-content>

